
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

venv/
.venv/
env/

.env

logs/
airflow.db
*.pid

mlruns/

postgres/data/

*.sqlite
.cache/

raw_data/

model/*.pkl
model/*.joblib

.ipynb_checkpoints/

.vscode/
.idea/

docker-compose.override.yml

.DS_Store
Thumbs.db
